<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/angular-route.min.js"></script>
    <script type="text/javascript" src="./js/angular-animate.min.js"></script>
    <script type="text/javascript" src="./js/angular-touch.min.js"></script>
	<title>简历</title>
</head>
<body>
	<div class="wrap clearfix" id="wrap" ng-controller="myCtrl">
		<!-- 简历左部基本信息 -->
		<div class="left">
			<div class="personal clearfix">
				<h1>麦豪欢</h1>
				<img src="./img/me.JPG">
			</div>
			<dl class="clearfix">
				<dt class="clearfix"><span>电话</span><span>学历</span></dt>
				<dd class="clearfix"><span>13544339312</span><span>大专</span></dd>
				<dt class="clearfix"><span>年龄</span><span>现居</span></dt>
				<dd class="clearfix"><span>26</span><span>广州</span></dd>
				<dt class="clearfix">邮箱</dt>
				<dd class="clearfix">506712534@qq.com</dd>
			</dl>
		</div>
		<!-- 简历右边详细信息 -->
		<div class="right">
			<ul class="nav clearfix">
				<li><i class="icon iconfont">&#xe74e;</i><a href="javascript:void(0)" ng-click="turnCV()">简历</a></li>
				<li><i class="icon iconfont">&#xe623;</i><a href="javascript:void(0)" ng-click="print()">打印</a></li>
				<li><i class="icon iconfont">&#xe69f;</i><a href="javascript:void(0)" ng-click="email()">邮箱</a></li>
				<li><i class="icon iconfont">&#xe6a8;</i><a href="javascript:void(0)"  ng-click="turnView()">作品</a></li>
			</ul>
			<div class="container" ng-if="toggleCV">
				<div class="Employment">
					<h3>工作经历</h3>
					<ul>
						<li class="odd">
							<p>
								<strong>广州科正网络公司</strong>
								<span>2015年8月~至今</span>
							</p>
							<em>Web前端工程师</em>
							<p class="details">品向科技有限公司是一家主要提供网站建设手机APP开发的互联网公司。<br/>主要负责:<br/>1.负责PC端、移动端网站等页面开发<br/>2.负责用PS切图工作根据UI设计稿精确实现html页面效果和Js动态效果<br/>3.调用后台接口用ajax套用数据，与后台交互开发<br/>4.根据要求调整、修改优化页面、兼容目前主流网站<br/>5.用HTML5、CSS3响应式布局开发移动端web页面</p>
						</li>
						<li class="">
							<p>
								<strong>广东奔霸王光电公司</strong>
								<span>2015年2月~2015年7月</span>
							</p>
							<em>网络管理/网页维护</em>
							<p class="details">主要负责:公司首页编辑改善维护，设置网站上的产品显示和编辑公司动态消息，还有公司网络管理、软件的维护、电脑设备维护、网络维护、网络配置、网站更新等。</p>							
						</li>					
					</ul>
				</div>
				<div class="Professional">
					<h3>专业技能</h3>
					<p class="details">
						1. 熟练使用div+css布局，能够编写符合语义化页面，符合w3c标准<br/>
						2. 熟悉并解决各主流浏览器兼容性问题<br/>
						3. 熟悉HTML5+CSS3新特性，新标签和动画等<br/>
						4. 能够熟练作编写应式布局以及移动端webapp页面<br/>
						5. 熟练使用原生JS作常见的网页动态动画效果<br/>
						6. 掌握常用插件swiper.js、touch.js、gsap动画插件<br/>
						7. 熟悉UI框架bootstrap 和 jquery mobile<br/>
						8. 熟练使用jquery/zepto的JS类库<br/>
						9. 掌握面向对象编程思想，能用原生JS或jquery编写常用插件<br/>
						10.熟悉canvas，能用canvas绘图处理图像以及做游戏<br/>
						11.了解php后台语言能对数据库做基本增删改查操作，编写简单API接口<br/>
						12.熟悉ajax和jsonp原理，熟悉前后台数据交互原理<br/>
						13.了解gulp前端自动化工具，能压缩合并css/js/图片<br/>
						14.了解node.js，能利用express快速搭建服务器页面了解jade模板<br/>
						15.了解 angular.js能使用指令，服务等创建单页应用<br/>
					</p>
					<div class="skills clearfix">
						<dl>
							<dt>常用工具</dt>
							<dd>Sublime Text</dd>
							<dd>HBuilder</dd>
							<dd>git/svn</dd>
						</dl>
						<dl class="last">
							<dt>编程语言</dt>
							<dd>HTML5/CSS3</dd>
							<dd>Javascript</dd>
							<dd>PHP</dd>
						</dl>		 			
					</div>
				</div>
				<div class="Education">
					<h3>项目经历</h3>
					<ul>
						<li class="odd">
							<p>
								<strong>绿城集团网页</strong>
							</p>
							<em>pc整站开发</em>
							<p class="details">项目描述:&nbsp;绿城集团网站是对其集团信息、项目动态、公司简介等内容进  行演示。<br/>
							项目职责:<br/>
							1.按照页面需求创建项目路径目录<br/>
							2.编写主页导航栏，底部栏公用部分以及列表页详细页<br/>
							3.按设计要求做成响应式并适配移动端</br>
							4.通过ajax调用后台数据接口api并把数据响应填充到列表页详细页<br/>
							5.公用js效果编写封装好以便调用和维护<br/>
							6.使用git代码管理工具上传代码<br/>
							</p>
						</li>
						<li class="odd">
							<p>
								<strong>乐购网</strong>
							</p>
							<em>H5移动端开发</em>
							<p class="details">项目描述:&nbsp;乐购网是一款集娱乐信息，便民服务和在线销售家电、数码、百货、生活食品、生活用品、家居于一体的网络购物商城移动网站。<br/>
							项目职责:<br/>
							1.按设计稿切图利用H5、CSS3负责整站页面编写<br/>
							2.用百分比布局针对不同手机分辨率的不同而做网页兼容<br/>
							3.登录页面账号密码表单正则表达式验证后再与后台数据交互验证<br/>
							4.采用 swiper.js 插件让轮播图效果更加流畅和加强兼容性  <br/>
							5.利用开启手机硬件加速,使 css3 动画更流畅用户体验更好<br/>
							6.修复移动端页面的 bug(如点透,Retina屏下border 1px 问题等)及性能优化<br/>
							</p>
						</li>
						<li class="">
							<p>
								<strong>爱心鱼</strong>
							</p>
							<em>H5小游戏</em>
							<p class="details">项目描述:&nbsp;爱心鱼是一款利用H5下的canvas绘制的移动端微信小游戏<br/>
							项目职责:<br/>
							1.利用canvas和面向对象做出鱼的动画<br/>
							2.用图片预加载方式使整个游戏加载一次后即可，加强用户体验<br/>
							3.运用canvas绘图 api globalalpha实现鱼吃果实的特效时出现的波纹会随着变大而逐渐变透明<br/>
							4.利用贝塞尔曲线绘制控制点使得海葵动画摇摆效果更自然,字体利用canvas 阴影的四个属性实现外发光优化界面<br/>
							</p>
						</li>											
					</ul>
				</div>
			</div>			
			<div class="webView" ng-if="toggleView">
				<ul class="navPrograme clearfix">
					<li>
						<a href="#/" ng-click="address(0)">PC端项目</a>
					</li>
					<li>
						<a href="#/mobile" ng-click="address(1)">移动端项目</a>
					</li>
					<li class="long">
						<a href="#/h5" ng-click="address(2)">H5 canvas游戏</a>
					</li>	
					<li class="long">
						<a href="#/other" ng-click="address(3)">PHP/nodeJS作品</a>
					</li>														
				</ul>
				<div class="view" >
					<div class="content" id="content" ng-view >
					</div>
				</div>
				<p class="footer">
					<em>项目地址:</em>
					<a href="{{link[linkIndex]}}" target="_blank">{{link[linkIndex]}}</a>
				</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>