<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/angular-route.min.js"></script>
    <script type="text/javascript" src="./js/angular-animate.min.js"></script>
    <script type="text/javascript" src="./js/angular-touch.min.js"></script>
	<title>Document</title>
</head>
<body>
	<div class="wrap clearfix" id="wrap" ng-controller="myCtrl">
		<div class="left">
			<div class="personal clearfix">
				<h1>USER Name</h1>
				<img src="./img/avt.png">
			</div>
			<dl class="clearfix">
				<dt>PHONE</dt>
				<dd>132146465</dd>
				<dt>Email</dt>
				<dd>651541d6556</dd>
				<dt>ADDRESS</dt>
				<dd>sadhosai</dd>
			</dl>
		</div>
		<div class="right">
			<ul class="nav clearfix">
				<li><i class="icon iconfont">&#xe74e;</i><a href="javascript:void(0)" ng-click="turnCV()">Resume</a></li>
				<li><i class="icon iconfont">&#xe623;</i><a href="javascript:void(0)">Print CV</a></li>
				<li><i class="icon iconfont">&#xe69f;</i><a href="javascript:void(0)">Email</a></li>
				<li><i class="icon iconfont">&#xe6a8;</i><a href="javascript:void(0)"  ng-click="turnView()">View</a></li>
			</ul>
			<div class="container" ng-if="toggleCV">
				<div class="Employment">
					<h3>Previous Employment</h3>
					<ul>
						<li class="odd">
							<p>
								<strong>Company Name</strong>
								<span>JUNE 2015-PRESENT</span>
							</p>
							<em>WEB DESIGNER</em>
							<p class="details">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis nibh leo. Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et pellentesque leo imperdiet. Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in neque. In tincidunt sed enim et tincidunt.</p>
						</li>
						<li class="">
							<p>
								<strong>Company Name</strong>
								<span>JUNE 2015-PRESENT</span>
							</p>
							<em>WEB DESIGNER</em>
							<p class="details">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis nibh leo. Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et pellentesque leo imperdiet. Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in neque. In tincidunt sed enim et tincidunt.</p>
						</li>					
					</ul>
				</div>
				<div class="Professional">
					<h3>Professional skills</h3>
					<p class="details">Duis egestas tortor metus, vitae venenatis tortor tristique at. Pellentesque dignissim purus vitae enim blandit, sed tristique enim malesuada. Maecenas dolor erat, volutpat a tellus eu, euismod iaculis urna. Nulla dui purus, viverra viverra dolor non, malesuada dictum purus.</p>
					<div class="skills clearfix">
						<dl>
							<dt>Software</dt>
							<dd>Photoshop</dd>
							<dd>Flash</dd>
							<dd>Dreemweeaver</dd>
							<dd>In design</dd>
						</dl>
						<dl class="last">
							<dt>Languages</dt>
							<dd>Photoshop</dd>
							<dd>Flash</dd>
							<dd>Dreemweeaver</dd>
							<dd>In design</dd>
						</dl>					
					</div>
				</div>
				<div class="Education">
					<h3>Education</h3>
					<ul>
						<li class="odd">
							<p>
								<strong>Company Name</strong>
								<span>JUNE 2015-PRESENT</span>
							</p>
							<em>WEB DESIGNER</em>
							<p class="details">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis nibh leo. Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et pellentesque leo imperdiet. Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in neque. In tincidunt sed enim et tincidunt.</p>
						</li>
						<li class="">
							<p>
								<strong>Company Name</strong>
								<span>JUNE 2015-PRESENT</span>
							</p>
							<em>WEB DESIGNER</em>
							<p class="details">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis nibh leo. Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et pellentesque leo imperdiet. Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in neque. In tincidunt sed enim et tincidunt.</p>
						</li>					
					</ul>
				</div>
			</div>			
			<div class="webView">
				<ul class="navPrograme clearfix">
					<li>
						<a href="#/">PC端项目</a>
					</li>
					<li>
						<a href="#/mobile">移动端项目</a>
					</li>
					<li class="long">
						<a href="#/h5">H5 canvas游戏</a>
					</li>	
					<li class="long">
						<a href="#/other">PHP/nodeJS作品</a>
					</li>														
				</ul>
				<div class="view" >
					<div class="content" id="content" ng-view >
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>