<div>
<div style="">
	<div id="inner" class="clearfix" ng-style="{left:-activeIndex*100+'%'}">
		<div class="slide clearfix slider2" ng-repeat="list in lists"  ng-swipe-left="next()" ng-swipe-right="last()">
			<img src="{{list.src}}">
			<dl>
				<dt>{{list.title}}</dt>
				<dd>
					<h4>主要功能</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
				</dd>	
				<dd>
					<h4>主要功能</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
				</dd>	
				<dd>
					<h4>主要功能</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
				</dd>									
			</dl>
		</div>
	</div>
	<div class="pagination">
		<span ng-repeat="list in lists" ng-class="{active:$index==activeIndex}" ng-click="tab($index)"></span>
	</div>
</div>
</div>