<div style="">
	<div id="inner" class="clearfix" ng-style="{left:-activeIndex*100+'%'}">
		<div class="slide clearfix" ng-repeat="list in lists"  ng-swipe-left="next($event)" ng-swipe-right="last()">
			<img src="{{list}}">
			<dl>
				<dt>页面简介</dt>
				<dd>
					<h4>主要功能</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
				</dd>	
				<dd>
					<h4>主要功能</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
				</dd>	
				<dd>
					<h4>主要功能</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
				</dd>									
			</dl>
		</div>
	</div>
	<div class="pagination">
		<span ng-repeat="list in lists" ng-class="{active:$index==activeIndex}" ng-click="tab($index)"></span>
	</div>
</div>